services:
  traefik:
    image: traefik:v3.3.3
    command:
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--providers.file.filename=/etc/traefik/dynamic.yml"
    ports:
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/dynamic.yml:ro"
      - "./certs:/etc/traefik/certs:ro"
    deploy:
      placement:
        constraints:
          - node.role == manager
    logging:
      options:
        max-file: "3"
        max-size: 10k
    networks:
      - web

  django:
    deploy:
      replicas: {{ groups['app_servers']|length }}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.{{ stack_name }}.rule=Host(`{{ domain_name }}`)"
        - "traefik.http.routers.{{ stack_name }}.entrypoints=websecure"
        - "traefik.http.routers.{{ stack_name }}.tls=true"
    image: {{ docker_image }}
    command: ./entrypoint.sh
    environment:
       ADMIN_SITE_HEADER: "{{ admin_site_header }}"
       ADMIN_URL: "{{ admin_url }}"
       ADMINS: "{{ admins }}"
       ALLOWED_HOSTS: "{{ allowed_hosts }}"
       CONTACT_EMAIL: "{{ contact_email }}"
       CSP_SCRIPT_WHITELIST: "{{ csp_script_whitelist }}"
       DATABASE_URL: "postgresql://postgres:{{ postgres_password }}@{{ database_ip }}:5432/postgres"
       REDIS_URL: "redis://{{ database_ip }}:6379/0"
       MAILGUN_API_KEY: "{{ mailgun_api_key }}"
       MAILGUN_API_URL: "{{ mailgun_api_url }}"
       MAILGUN_SENDER_DOMAIN: "{{ mailgun_sender_domain }}"
       PWA_SHA256_FINGERPRINTS: "{{ pwa_sha256_fingerprints }}"
       SECRET_KEY: "{{ secret_key }}"
       SENTRY_URL: "{{ sentry_url }}"
       SECRET_KEY_FALLBACKS: "{{ secret_key_fallbacks }}"
    logging:
      options:
        max-file: "3"
        max-size: 10k
    networks:
      - web

networks:
  web:
    driver: overlay
    attachable: true
